@require "./reset"
@require "./variables"
@require "./components/*"
@require "./pages/*"

html
    font-size: 10pt

body
    font-family: sans-serif
    background: $clr_pageBg
    color: #888

h1
    font-size: 1.6rem

h2
    font-size: 1.3rem

/* main#content */
