@require "./reset"
@require "./variables"
@require "./components/*"
@require "./pages/*"

html
    font-size: 10pt

body
    font-family: sans-serif
    background: $clr_pageBg
    color: #888
    overflow: hidden

h1
    font-size: 1.6rem

h2
    font-size: 1.3rem

main
    display: grid
    height: 100vh
    width: 100vw
    grid-template-rows: var(--size_navBar) 1fr
    grid-template-areas: \
        "nav" \
        "content"
nav
    grid-area: nav
    display: flex
    background: lighten($clr_pageBg, 4%)
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.2)

    .btn
        display: flex
        justify-content: center
        align-items: center
        width: var(--size_navBar)
        height: @width
        color: #777
        text-decoration: none
        font-size: 1.6rem
        transition: background 0.2s ease
        &:hover
            background: lighten($clr_pageBg, 9%)

section.content
    grid-area: content
    height: auto
    overflow: auto

@media (min-width: 1150px)
    :root
        --size_navBar: 60px
    main
        grid-template-rows: none
        grid-template-columns: var(--size_navBar) 1fr
        grid-template-areas: "nav content"
    nav
        flex-direction: column
