@require "./reset"
@require "./variables"
@require "./components/*"
@require "./pages/*"

html {
    font-size: 10pt
}

body {
    font-family: sans-serif
    background: $clr_pageBg
    color: #888
    overflow: hidden
}

h1 {
    font-size: 2.2rem
}

h2 {
    font-size: 1.8rem
}

h3 {
    font-size: 1.4rem
}

h4 {
    font-size: 1.2rem
}

input, select, button, textarea {
    background: lighten($clr_pageBg, 4%)
    border: none
    padding: 9px 11px
    margin: 5px
    color: #eee
    border-left: 2px solid transparent
    outline: none

    &:focus {
        border-color: $clr_lightPurple
        background: lighten($clr_pageBg, 9%)
    }
}

button {
    border-left: 2px solid $clr_twitchPurple
}

main {
    display: grid
    height: 100vh
    width: 100vw
    grid-template-rows: var(--size_navBar) 1fr
    grid-template-areas: \
        "nav" \
        "content"
}

section.content {
    grid-area: content
    overflow: auto
}

@media (min-width: $sz_breakpoint) {
    :root {
        --size_navBar: 60px
    }

    main {
        grid-template-rows: none
        grid-template-columns: var(--size_navBar) 1fr
        grid-template-areas: "nav content"
    }
}
