// stylus variables
$sz_vertNavBar = 60px  // navbar in vertical (side bar) mode
$sz_horizNavBar = 40px // navbar in horizontal (top bar) mode
$sz_breakpoint = 990px
$clr_pageBg = #181818
$clr_twitchPurple = #6441A4
$clr_lightPurple = lighten($clr_twitchPurple, 20%)
$clr_header = #ccc

// hierarchy of element z-indices
$zindex_ctxMenu = 100
$zindex_ctxMenuWrap = 90
$zindex_modal = 50
$zindex_modalWrap = 40

// custom properties
:root {
    --size_navBar: $sz_horizNavBar
}
