@require "./variables"

.ctxMenuWrapper {
    position: absolute
    width: 100vw
    height: 100vh
    top: 0
    left: 0
    z-index: $zindex_ctxMenuWrap
}

.ctxMenuList {
    position: absolute
    min-width: 200px
    max-width: 300px
    max-height: 300px
    border-radius: 3px
    overflow: auto
    z-index: $zindex_ctxMenu
    background: lighten($clr_pageBg, 4%)
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.6)

    li {
        background: lighten($clr_pageBg, 8%)
        width: 100%
        padding: 10px 5px
        margin: 0 3px 5px 0
        cursor: pointer
        border-left: 3px solid transparent

        &:last-child {
            margin: 0
        }

        &:hover {
            color: #eee
            background: lighten($clr_pageBg, 11%)
            border-left: 3px solid $clr_twitchPurple
        }

        &:active {
            background: lighten($clr_pageBg, 6%)
        }
    }
}
