@require "./variables"

.logView {
    margin-bottom: 40px
    height: 35vh
    display: flex
    flex-direction: column

    h3, textarea {
        border-left: 2px solid $clr_twitchPurple
    }

    h2 {
        display: flex
        justify-content: space-between
        align-content: center
        align-items: center
        box-shadow: 0 2px 15px $clr_pageBg
        z-index: 1 // required for box shadow to work
    }

    // old style for name headers
    // h3 {
    //     display: flex
    //     justify-content: space-between
    //     align-content: center
    //     align-items: center
    //     background: lighten($clr_pageBg, 4%)
    //     font-weight: bold
    //     padding: 10px
    //     margin: 0px !important

    //     button {
    //         background: lighten($clr_pageBg, 8%)
    //         margin: 0
    //         padding: 5px

    //         &:disabled {
    //             color: #686868
    //             border-color: transparent
    //         }
    //     }
    // }

    textarea {
        // background: lighten($clr_pageBg, 8%)
        background: $clr_pageBg
        border: none
        flex-grow: 1
        margin: 0px
        resize: none

        &:hover, &:active, &:focus {
            background: $clr_pageBg
        }
    }
}
