@require "./variables"

.logView
    margin-bottom: 40px
    padding: 15px
    height: 35vh
    display: flex
    flex-direction: column
    h3, textarea
        border-left: 2px solid $clr_twitchPurple

    h3
        display: flex
        background: lighten($clr_pageBg, 3%)
        font-weight: bold
        padding: 10px

    textarea
        background: lighten($clr_pageBg, 5%)
        flex-grow: 1
        margin: 0
        resize: none
        &:active, &:focus
            background: lighten($clr_pageBg, 5%)
            border-left: 2px solid $clr_twitchPurple
