body {
  background: #151617;
  color: #ccc;
  font-family: sans-serif;
  font-size: 10pt; }

*::-webkit-scrollbar-track {
  background-color: transparent; }

*::-webkit-scrollbar {
  width: 2px;
  background-color: transparent; }

*::-webkit-scrollbar-thumb {
  background-color: #6441a4; }

.clickable {
  cursor: pointer; }

a {
  color: #ccc;
  font-weight: bold;
  text-decoration: underline; }

#navBar {
  background: #151617;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  height: 34px;
  padding: 3px; }
  #navBar a {
    margin: 0 5px 0 0; }

main {
  margin-top: 34px; }

#channelsList {
  padding: 0 3px 0 0; }
  #channelsList li {
    background: #0e0e0f;
    width: 100%;
    margin: 0 0 5px 0;
    color: #ccc;
    padding: 4px;
    border: 1px solid #0e0e0f;
    border-left: 2px solid #6441a4;
    transition: border 0.2s ease, background 0.2s ease;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: hidden; }
    #channelsList li img {
      max-height: 72px;
      max-width: 128px; }
    #channelsList li div {
      padding: 7px; }
    #channelsList li p {
      padding: 2px;
      overflow: hidden; }
    #channelsList li span {
      color: #666; }
    #channelsList li:hover {
      background: #171717;
      border-color: #6441a4;
      border-width: 1px 1px 1px 2px;
      transition: border 0.2s ease, background 0.2s ease; }
