// $accent-color: #096c09;
$accent-color: #6441a4;

$background_color: #151617;

body {
    background: $background_color;
    color: #ccc;
    font-family: sans-serif;
    font-size: 10pt;
}

*::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar {
    width: 2px;
    background-color: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
    background-color: $accent-color;
}

.clickable {
    cursor: pointer;
}

a {
    color: #ccc;
    font-weight: bold;
    text-decoration: underline;
}

$navbar_height: 34px;

#navBar {
    background: $background_color;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;

    height: $navbar_height;
    padding: 3px;
    a {
        margin: 0 5px 0 0;
    }
}

main {
    margin-top: $navbar_height;
}

#channelsList {
    padding: 0 3px 0 0;

    li {
        background: #0e0e0f;
        width: 100%;
        margin: 0 0 5px 0;
        color: #ccc;
        // text-align: left;
        padding: 4px;
        border: 1px solid #0e0e0f;
        border-left: 2px solid $accent-color;
        transition: border 0.2s ease, background 0.2s ease;

        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: flex-start;
        flex-wrap: nowrap;

        img {
            max-height: 72px;
            max-width: 128px;
        }

        div {
            padding: 7px;
        }

        overflow: hidden;


        p {
            padding: 2px;
            overflow: hidden;
        }

        span {
            color: #666;
        }

        &:hover {
            background: #171717;
            border-color: $accent-color;
            border-width: 1px 1px 1px 2px;
            transition: border 0.2s ease, background 0.2s ease;
        }
    }
}
